{% extends "base.html" %}

{% block content %}
<h1> Управление мероприятиями</h1>
<table>
    <thead>
    <tr>
        <th class="table-manage-events th-manage-events">ID</th>
        <th class="table-manage-events th-manage-events">Изображение</th>
        <th class="table-manage-events th-manage-events">Название события</th>
        <th class="table-manage-events th-manage-events">Дата начала</th>
        <th class="table-manage-events th-manage-events">ID ответственного</th>
        <th class="table-manage-events th-manage-events">Адрес</th>
        <th class="table-manage-events th-manage-events">Редактировать</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
    <tr class="tr-manage-events">
        <td class="table-text-manage-events td-manage-events">{{ event.id }}</td>
        <td class="table-text-manage-events td-manage-events"><img class="img-manage-events" src="{{ url_for('static', filename=event.picture_path) }}" /></td>
        <td class="table-text-manage-events td-manage-events">{{ event.event_name }}</td>
        <td class="table-text-manage-events td-manage-events">{{ event.date_of_start }}</td>
        <td class="table-text-manage-events td-manage-events">{{ event.id_responsible_user }}</td>
        <td class="table-text-manage-events td-manage-events">{{ event.address }}</td>
        <td class="table-text-manage-events td-manage-events"><a href="/manage/event/{{event.id}}/edit"><button class="btn btn-primary">edit</button></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}