.rounded-img {
    border-radius: 50%;
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
}

.auth-links {
    margin-right: 70px;
}

.auth-link {
    color: #007bff;
    text-decoration: none;
}

.separator {
    color: grey;
    margin: 0 10px;
}
.events {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.event, .event:active, .event:hover {
    color: #000;
    text-decoration:none;
    display: block;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}
.event:hover {
    transform: scale(1.05);
}
.event img {
    width: 200px;
    height: 150px;
}
.event h2 {
    margin-top: 10px;
}

.container-info {
  display: flex;
}

.left-column-info {
  flex: 1;
  padding: 10px;
}

.right-column-info {
  flex: 1;
  background-color: #f1f1f1;
  padding: 10px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.main {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.main .article {
    flex: 3;
}

.main .article h1 {
    font-size: 30px;
}

.main .article p.author {
    font-size: 16px;
    color: #888;
}

.main .article p.date {
    font-size: 14px;
    color: #888;
}

.main .article p.image {
    margin-top: 10px;
}

.main .article p.image img {
    width: 100%;
}

.main .article p.description {
    font-size: 16px;
    line-height: 1.8rem;
}

.main .sidebar {
    flex: 1;
    background-color: #f5f5f5;
    padding: 10px;
}

.main .sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.main .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.main .sidebar li {
    margin-bottom: 10px;
}

.main .sidebar li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.main .sidebar li a:hover {
    color: #003366;
}

.btn-primary-join-event {
    background-color: #800080;
    border-color: #800080;
}
.btn-primary-join-event:hover {
    background-color: #800080;
    border-color: #800080;
    transition: transform 0.3s;
    transform: scale(1.01);

}

.index-header-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content:space-between
}
/*** Начало таблицы управления событиями **/
.table-manage-users {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 600px;
  padding:5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.th-manage-users {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.th-manage-users:first-child {
  border-top-left-radius:3px;
}

.th-manage-users:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.tr-manage-users {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.tr-manage-users:hover .td-manage-users {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

.tr-manage-users:first-child {
  border-top:none;
}

.tr-manage-users:last-child {
  border-bottom:none;
}

.tr-manage-users:nth-child(odd) .td-manage-users {
  background:#EBEBEB;
}

.tr-manage-users:nth-child(odd):hover .td-manage-users {
  background:#4E5066;
}

.tr-manage-users:last-child .td-manage-users:first-child {
  border-bottom-left-radius:3px;
}

.tr-manage-users:last-child .td-manage-users:last-child {
  border-bottom-right-radius:3px;
}

.td-manage-users {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.td-manage-users:last-child {
  border-right: 0px;
}

.th-manage-users.text-left {
  text-align: left;
}

.th-manage-users.text-center {
  text-align: center;
}

.th-manage-users.text-right {
  text-align: right;
}

.td-manage-users.text-left {
  text-align: left;
}

.td-manage-users.text-center {
  text-align: center;
}

.td-manage-users.text-right {
  text-align: right;
}
/*** Конец таблицы управления пользователями **/

/*** Начало таблицы управления пользователями **/
.table-manage-events {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 600px;
  padding:5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.th-manage-events {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.th-manage-events:first-child {
  border-top-left-radius:3px;
}

.th-manage-events:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.tr-manage-events {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.tr-manage-events:hover .td-manage-events {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

.tr-manage-events:first-child {
  border-top:none;
}

.tr-manage-events:last-child {
  border-bottom:none;
}

.tr-manage-events:nth-child(odd) .td-manage-events {
  background:#EBEBEB;
}

.tr-manage-events:nth-child(odd):hover .td-manage-events {
  background:#4E5066;
}

.tr-manage-events:last-child .td-manage-events:first-child {
  border-bottom-left-radius:3px;
}

.tr-manage-events:last-child .td-manage-events:last-child {
  border-bottom-right-radius:3px;
}

.td-manage-events {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.td-manage-events:last-child {
  border-right: 0px;
}

.th-manage-events.text-left {
  text-align: left;
}

.th-manage-events.text-center {
  text-align: center;
}

.th-manage-events.text-right {
  text-align: right;
}

.td-manage-events.text-left {
  text-align: left;
}

.td-manage-events.text-center {
  text-align: center;
}

.td-manage-events.text-right {
  text-align: right;
}
.img-manage-events {
    max-height: 75px;
    max-width: 135px;
}
/*** Конец таблицы управления событиями  **/
/** таблица в предложке **/
.button-container {
            display: flex;
            gap: 10px;
        }

        .button-container a {
            display: inline-block;
        }
/** конец таблица в предложке **/

img {
        width: 60%; /* Ширина изображения составит 50% от родительского элемента */
        height: auto; /* Автоматический расчет высоты, чтобы изображение не искажалось */
    }


a {
    color: #007bff; /* Голубой цвет ссылок */
    text-decoration: none; /* Убрать подчеркивание */
}

a:hover {
    text-decoration: underline; /* Добавить подчеркивание при наведении */
}

nav .navbar-light .bg-light {
    justify-content: flex-start; /* Выравнивание элементов навигации влево */
}

p {
    display: flex; /* Использование flexbox для выравнивания ссылок и текста "или" */
    align-items: center; /* Центрирование элементов по вертикали */
    justify-content: flex-start; /* Выравнивание элементов внутри <p> влево */
    margin-right: 70px; /* Отступ справа */
}



.auth-container {
    background-color: #80cbc4; /* Голубо-зелёный цвет блока авторизации */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    margin: auto;
    margin-top: 50px; /* Отступ сверху страницы */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;

}

.auth-title {
    text-align: center;
    font-size: 20px; /* Уменьшенный размер */
    margin-bottom: 30px; /* Отступ снизу */
}

.form-group {
    margin-bottom: 5px; /* Уменьшенное расстояние между блоками */
}

.custom-input {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    display: block;
    width: 100%;
}

.auth-submit {
    width: 100%;
    padding: 10px;
    margin-top: 20px; /* Отступ сверху для кнопки */
}


/* --- Для формы регистрации --- */
.btn-primary {

    }
#id_about {
        margin-top: 20px;
    }
.main-header {
    text-align: left;
    margin-bottom: 1px;
    font-size: 50px;
    font-family: Verdana;
    margin-top: 60px;
}

.image-container {
    text-align: center;
    position: relative;
}

.events-button {
    position: absolute;
    bottom: -60px;
    left: 180px;
    background: linear-gradient(135deg, #7F7FD5, #86A8E7, #91EAE4);
    padding: 15px 50px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.divider {
    height: 5px;
    background-color: black;
    margin-top: 150px;
}

.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.info-block {
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle span {
    color: white;
    font-size: 16px;
}

.info-text {
    margin-top: 5px;
    font-size: 20px;
    font-family: Verdana;
}
  body {
    background-color: #f5f5f5; /* Сероватый фон за пределами контейнера */
  }

  .container-info {
    display: flex;
    width: 800px;
    justify-content: flex-end; /* Равномерное распределение между столбцами */
    border-radius: 10px; /* Скругление углов контейнера */
    padding: 10px; /* Добавление отступов внутри контейнера */
  }

  .column {
    flex: 1; /* Равное распределение ширины столбцов */
    padding: 15px; /* Добавление отступов вокруг содержимого столбца */
    display: flex; /* Добавление flex-контейнера для выравнивания по центру */
    flex-direction: column; /* Выравнивание содержимого по вертикали */
    justify-content: center; /* Выравнивание содержимого по центру */
    align-items: left; /* Выравнивание содержимого по горизонтали */
    margin: 0 30px; /* Добавление отступов по бокам столбца */
  }

  p {
    margin-bottom: 10px; /* Увеличение вертикального отступа между парами элементов */
    color: #2E3336; /* Изменение цвета текста на темно-серый */
    font-size: 12px; /* Уменьшение размера текста */
  }

  .user-info {
    font-size: 18px; /* Устанавливаем размер шрифта 20 пикселей */
    border-bottom: 1px solid gray; /* Добавить подчеркивание серым цветом */
    width: 130%; /* Ширина элемента занимает всю доступную ширину */
    margin-bottom: 30px; /* Добавление отступа снизу для разделения элементов */
}


  input {
    border-bottom: 1px solid gray; /* Подчеркивание полей ввода серым цветом */
  }

  input[type="text"] {
    border: none; /* Убрать стандартную границу поля ввода */
    border-bottom: 1px solid gray; /* Добавить подчеркивание серым цветом */
    background-color: transparent; /* Прозрачный фон для поля ввода */
    outline: none; /* Убрать контур вокруг поля ввода при фокусе */
    width: 130%; /* Ширина поля ввода занимает всю доступную ширину */
    margin-bottom: 10px; /* Добавление отступа снизу для разделения полей */
    font-size: 18px; /* Устанавливаем размер шрифта 20 пикселей */
}

  .button {
    font-size: 14px; /* Уменьшение размера текста внутри кнопок */
    font-weight: normal; /* Делаем текст жирным внутри кнопок */
    padding: 10px 30px; /* Уменьшение отступов внутри кнопок */
    border-radius: 100px; /* Скругленные края кнопок */
    background-color: white; /* Белый фон кнопок */
    color: #3498DB; /* Оранжевый текст на кнопках */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    display: block; /* Превращаем кнопку в блочный элемент */
    width: fit-content; /* Ширина кнопки зависит от содержимого */
    margin: 10px auto; /* Выравнивание кнопки по центру и уменьшение вертикального отступа */
    border: 0.3px solid #679FD2; /* Обводка кнопки ярко синего цвета */
    transition: background-color 0.3s, color 0.3s; /* Плавное изменение цвета фона и текста */
    font-weight: bold; /* Делаем текст жирным внутри кнопки */
}

  .button:hover {
    background-color:  #3498DB;  /*Изменение цвета фона при наведении */
    color: white; /* Изменение цвета текста при наведении */
  }
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons-container {
    margin-top: 20px; /* Расстояние между кнопками и изображением */
  }

  .profile-img {
    width: 300px; /* Новый размер ширины изображения */
    height: 300px; /* Новый размер высоты изображения */
}

.profile-photo {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background-color: gray;
}
.rounded-img {
            border-radius: 50%; /* Делает изображение круглым */
            width: 48px;
            height: 48px;
            object-fit: cover; /* Гарантирует, что изображение заполнит весь круг */
        }

    .navbar-brand {
        margin-left: 100px;
    }

    .rounded-img {
        margin-right: 70px;
    }



