{% extends "account_base.html" %}

{% block funcs %}
 <div class="container-info">
  <div class="left-column-info">

        <p>Имя:<br/> {{ current_user.name }}</p><br/>
        <p>Фамилия:<br/> {{ current_user.surname }}</p><br/>
        <p>Никнейм:<br/> {{ current_user.nickname }}</p><br/>
        <p>О себе:<br/> {{ current_user.about }}</p><br/>
        <p>Email:<br/> {{ current_user.email }}</p><br/>
        <p>Роль:<br/> {{ current_user.logging_role }}</p><br/>
 </div>
  <div class="right-column-info">
      <p>Фото профиля:</p><img src="{{ url_for('static', filename=current_user.photo) }}" alt="Фото профиля", width="200", height="300">
      </div>
</div>
{% endblock %}