{% extends "account_base.html" %}

{% block funcs %}
<div>
        <h2>Сменить пароль</h2>
        <form action="/change_password" method="POST">
            <label for="old_password">Старый пароль:</label><br/>
            <input type="password" name="old_password"><br/>

            <label for="new_password">Новый пароль:</label><br/>
            <input type="password" name="new_password"><br/>

            <label for="confirm_password">Подтверждение нового пароля:</label><br/>
            <input type="password" name="confirm_password"><br/>
            <br/>
            <br/>
            <button type="submit" class="btn btn-danger">Сменить пароль</button>
        </form>
    </div>
{% endblock %}