{% extends "base.html" %}

{% block content %}
<h1 class="main-header">Волонтёры рядом - это <br> место, где важен каждый</h1>

<div class="image-container">
    <img src="{{ url_for('static', filename='index_image.png')}}"><br><br><br>
    <a href="/events" class="events-button" style="text-decoration: none;">Перейти к событиям</a>
</div>

<div class="divider"></div>

<div class="info-container">
    <div class="info-block">
        <div class="circle"><span>1</span></div>
        <div class="info-text">Ищи событие</div>
    </div>
    <div class="info-block">
        <div class="circle"><span>2</span></div>
        <div class="info-text">Присоединяйся</div>
    </div>
    <div class="info-block">
        <div class="circle"><span>3</span></div>
        <div class="info-text">Создавай своё</div>
    </div>
</div>

{% endblock %}
